@model IEnumerable<NguyenThuyDung124.Models.NTD0124>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NTDName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NTDGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NTDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTDGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NTDId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NTDId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NTDId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
